body
{background-color: #87CEFA;}

h4
{color: #FFFFFF; text-align: center;}

table
{border: 1; border-radius: 10; border-spacing: 1; background-color: #0E3386; align: center;}

td
{ color: #FFFFFF; align: center;}
